// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import CoreUI for React components library
@import "@coreui/coreui/scss/coreui";

// Import Chart.js custom tooltips styles
@import "@coreui/chartjs/scss/coreui-chartjs";

@import "layout";
@import "example";

// If you want to add custom CSS you can put it here.
@import "custom";

.width-max {
    width: max-content !important;
}

.DeailsAmoutn {
    padding: 10px;
    text-align: center;
    background: white;
    box-shadow: 0px 0px 29px 0px #e8e8e8;
    border-radius: 10px;
}